*.gz
*.zip
*.o
main
.vscode/
compile_commands.json
display
parent
buildnumber.num
depend
.cache/
ex05/getsignal
ex05/sendsignal
ex06/getsignal_sendpid
ex06/sendsignal_getpid
ex07/filter
ex07/redirect
ex08/queue
ex08/shareQueue
